<h2>レビュー一覧</h2>

<% @posts.each do |post| %>
  <div>
    <p>タイトル：<%= post.review_title %></p>
    <p>ゲームタイトル：<%= post.game_title %></p>
    <p>本文：<%= post.body %></p>
    <p>ユーザーネーム：<%= post.user.name %></p>
  </div>
<% end %>
